	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/08/2017 17:39
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 35px;
font-style: normal;
margin-left: 0px;
}

.flaticon-shopping-basket-1:before { content: "\f100"; }
.flaticon-sell-product:before { content: "\f101"; }
.flaticon-shopping-basket:before { content: "\f102"; }
.flaticon-homepage:before { content: "\f103"; }
.flaticon-financial-bars-stats:before { content: "\f104"; }
.flaticon-home:before { content: "\f105"; }
.flaticon-call-center-worker-with-headset:before { content: "\f106"; }
.flaticon-trolley:before { content: "\f107"; }
.flaticon-badge:before { content: "\f108"; }
.flaticon-bar-chart:before { content: "\f109"; }
.flaticon-technology:before { content: "\f10a"; }
.flaticon-support:before { content: "\f10b"; }
.flaticon-group:before { content: "\f10c"; }